img {
  max-width: 500px;
}
figcaption {
  max-width: 500px;
}
figure {
  text-align: center;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.img-responsive { 
  margin: 0 auto; 
  position: absolute;
   left: 50%;
   top: 25%; 
   margin-left: -200px;
   margin-top: -150px; 
}


figcaption {
  padding: 5px;
  font-family: 'Cherry Swash', cursive;
  font-size: 20em;
  font-weight: 1400;
  border: none;
  background: transparent;
  word-wrap:normal;
  text-align: center;
}

